@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&family=Rokkitt:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

header {
    background: url(https://images.unsplash.com/photo-1500206329404-5057e0aefa48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80) no-repeat center center/cover;
    height: 100vh;
    width: 100%;


}



.nav {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-left: 100px;
    margin-right: 100px;
    position: sticky;



}

span {
    padding: 10px;
    font-size: 15px;
    display: block;
    font-weight: 500;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    display: flex;

}

.img__logo {
    display: block;
    width: 40px;


}

.dashboard {
    background-color: rgb(255 56 92);
    border-radius: 8px;
    color: rgb(255 255 255);
    font-family: "Poppins";
    line-height: 25.6px;
    padding: 10px 15px;
    border: none;
}

.header__content {
    background: #333;
    position: relative;
    margin-top: 100px;
}

.text__contents__hd {
    position: absolute;
    left: 120px;
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    line-height: 80px;
}

.search {
    top: 200px;

    position: absolute;
    left: 130px;
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    line-height: 80px;
}

input {
    padding: 24px;
    width: 560px;
    border-radius: 8px;
    border: none;
}

.text-info {
    position: absolute;
    left: 185px;
    color: #fff;


    top: 300px;
}

.btn {
    position: absolute;
    padding: 18px;
    border-radius: 8px;
    border: none;
    left: 415px;
    top: 23px;
    color: #fff;
    background-color: rgb(255 56 92);

}

.view {
    position: absolute;
    padding: 10px;
    color: rgb(255, 255, 255);
    width: 150px;

    background: rgba(0, 0, 0, 0.112);
    right: 200px;
    text-align: center;
    border-radius: 10px 10px 10px 0;
}

.sub {
    position: absolute;
    padding: 10px;
    color: rgb(255, 255, 255);
    width: 150px;
    top: 500px;
    background: rgba(0, 0, 0, 0.112);
    right: 200px;
    text-align: center;
    border-radius: 10px 10px 10px 0;
}

.like {
    position: absolute;
    padding: 10px;
    color: rgb(255, 255, 255);
    width: 150px;
    top: 300px;
    background: rgba(0, 0, 0, 0.112);
    right: 400px;
    text-align: center;
    border-radius: 10px 10px 10px 0;
}

.main {
    position: relative;
    margin-top: 80px;

    text-align: justify;
}

.main__contents {
    margin-top: 80px;
    justify-content: center;
    display: grid;
    gap : 80px;
    grid-template-columns: 597px 597px;
    grid-template-rows: 533.1px;
    line-height: 24.5px;

}

.img__text_main {
    position: relative;
    width: 100%;
    margin-top: 150px;
    height: 70vh;
    background: url(https://www.tubekick.co/images/home/header.jpg) no-repeat center center/cover;
}

.img__text_main span {
    font-weight: 300;
    width: 100%;
    display: block;
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 33px;
    top: calc(50% - 50px);

}

.img__text_main .sp {
    position: absolute;
    text-align: center;
    opacity: 0.8;
    top: calc(50% - 100px);

}

.img__text_main .sp img {
    width: 40px;
}

.img__text_main .sp2 {
    width: 100%;
    display: block;
    color: #ff385c;
    position: absolute;
    text-align: center;
    font-size: 18px;
    top: calc(50% + 100px);

}


.content__info__items {
    margin-top: 124px;
    justify-content: center;
    display: grid;
    gap: 10px;
    grid-template-columns: 398px 398px 398px;
    line-height: 24.5px;




}

.info__item {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 25.6px;


}
footer {
    align-items: center;
    height: 100px;
    text-align: center;
    width: 100%;



}

.footer {

    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}

.info__footer {
    display: flex;
}

li {
    list-style: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-left: 20px;
    font-size: 15px;
}

.btn__content {
    align-items: flex-start;
    background-color: #ff385c;
    border-radius: 8px;
    color: #ffffff;
    line-height: 25.6px;
    margin: 25px 0px 0px;
    padding: 10px 20px;
    text-align: center;
    border: none;
    transition: 0.3;

}

.text__content{
    margin-top: 150px;


}
.text__content p {
    font-size: 36px;
    margin-bottom: 10px;

}
.sp__main{

    margin-top: 30px;
  
    color: #5f5f66 ;
    font-size:15px;
    line-height:34px;
    padding: 0px 24px 0px 0px;
    text-align: justify;
}


.btn__content:hover{
    cursor: pointer;
    background-color: rgb(250, 11, 11);
  
}

.info__text{
    width: 398px;
    text-align: justify;
}
.info__item p{
    font-weight: 600;
    font-size: 20px;
}